
<footer class="page-footer font-small blue">
    <div class=" flex-column flex-md-row text-center text-md-start py-4 px-4 px-xl-5 bg-danger"
                    width="100%">
                    
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <div class="text-white mb-3 mb-md-0">
                        Copyright © 2021 gipt-health. All rights reserved.
                        {{!-- www.gipt-health.co.za --}}
                    </div>
 
  </div>
  <!-- Copyright -->

</footer>
