<h4>Thank you! for making an appointment with <strong> Dr {{doctor.first_name}} {{doctor.last_name}}</strong></h4>

<div>
  <table class="table">
     
    {{#each booking}}
    
    {{/each}}
  </table>
</div>