<<<<<<< HEAD
<h4>Thank you! for making an appointment with {{idNumbs.first_name}}</h4>
=======
<h4>Thank you! for making an appointment with <strong> Dr {{doctor.first_name}} {{doctor.last_name}}</strong></h4>
>>>>>>> 37691422b1e36a07ccaac5c5e63a2f55c7fa9c68

<div>
  <table class="table">
     
    {{#each booking}}
    
    {{/each}}
  </table>
</div>