<h4>Thank you! for making an appointment with <strong> Dr {{doctor.first_name}} {{doctor.last_name}}</strong></h4>

<div>
  <button class="btn btn-danger" name="thanks" type="submit"> procced to payment</button>
</div>
<div>
  <table class="table">
     
    {{#each booking}}
    
    {{/each}}
  </table>
</div>