<p class="nancy">NANCY SMITH <img src="pictures/icon.jpeg" width="25"></p> <p class="logout">LOGOUT</p>

<form action="/page-one" method="POST">

    <h1>GIPT-HEALTH* </h1>
    <img src="pictures/logo.jpeg" width="100">
    
</form>
<form>
  <label for="gsearch">Search By:</label>
  <input type="search" id="gsearch" name="gsearch">
</form>
<form>
  <label for="phone">Enter your phone number:</label>
  <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
</form>

