
<div class="bg-img">
  {
  <form action="/doctor" method="POST">
  {{!-- <input class="form-control" type="search" id="gsearch" name="search">
  <button type="submit" value="submit">search!</button>
  <br> --}}
  <button type="button" class="btn btn-danger">
  booked appointment <span class="badge badge-light">9</span>
  <span class="sr-only">upcoming appointment(s)</span>
</button>
</form>
<h1> appointments</h1>
</div>



