<div class="bg-img">

  <form action="/doctor" method="POST">
    {{!-- <input class="form-control" type="search" id="gsearch" name="search">
    <button type="submit" value="submit">search!</button>
    <br> --}}
    <button type="button" class="btn btn-danger">
      booked appointment <span class="badge badge-light">0</span>
      <span class="sr-only">upcoming appointment(s)</span>
    </button>
  </form>
  <h1> appointments</h1>
  <table class="table">
     <tr>
      <th>ID Number</th>
      <th>First_Name</th>
      <th>Last_Name</th>
      <th>Contact</th>
      
    </tr>
    {{#each appointments}}
   
    <tr>
      <td>{{id_number}}</td>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{contact_no}}</td>
     
    

    </tr>
    {{/each}}
  </table>
</div>