<div class="bg-img">

  <h1> appointments</h1>
  <table class="table">
     <tr>
      <th>ID Number</th>
      <th>First_Name</th>
      <th>Last_Name</th>
      <th>Contact</th>
      
    </tr>
    {{#each appointments}}
   
    <tr>
      <td>{{id_number}}</td>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{contact_no}}</td>
     
    

    </tr>
    {{/each}}
  </table>
</div>