<div class=" bg-image">
    <form action="/" class="container">

        <!-- Background image -->
        <div class="bg-image" style="
      background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.behance.net%2Fbrettparkersap&psig=AOvVaw3kH1KAbX4mVK-y1jPvDsb6&ust=1627326326528000&source=images&cd=vfe&ved=2ahUKEwj-7qOO9f7xAhVFYxoKHaa9BlwQr4kDegUIARDfAQ');
      !important; ">




            <h2 class="us">GIPT-HEALTH, PROVIDING 4.0 HEALTHCARE SERVICES </h2>
        </div>

    </form>
</div>