<div class=" bg-image">
    <!-- Background image -->


    <div class="home-1">
        <h3>Welcome, We're Glad You here</h3>
        <h2 class="us">GIPT-HEALTH, PROVIDING 4.0 HEALTHCARE SERVICES </h2>
        <div class="home-2">
            <div class="side-bar">
                <P>What the app does</P>

                <H4>GIPT-HEALTH App :</H4>

                GIPT-HEALTH app allows patients to access medical attention through 4IR 24/7. the app comprises of
                multiple features such as book medical appointments,order medical
                delivery and make payments.The app resolves problems experienced by many citizens such as physical
                contact,waiting in long queues,late disease detections and poor customer services.
            </div>
            <div class="mission">
                <P>Our Mission</P>

                <H4>At GIPT-HEALTH:</H4>

                To become the world healthcare solution provider through 4IR
                We provide compassionate care and knowledgeable consultation to our patients, their families and our
                community.
            </div>
        </div>

        <div class="office">
            <p>Office Hours:</p>

            Monday - Thursday: 8am-5pm

            Friday: 8am-3pm
            <h5>General Contact:</h5>

            <p>Office: 0113456677</p>
            <p>Fax: 0113456678</p>


            Email: info@gipt-health.co.za
            <p>Address:234. struben Str, Newtown, johannesburg </p>


        </div>
    </div>

</div>1