<div class="container">
    <div class="row">
        <div class="header1">
            <h1>GIPT-HEALTH* </h1>
            <img src="pictures/logo.jpeg" width="100">
        </div>
        <div>
            <form action="/patient" method="POST">
                <label for="Username">Username:</label>
              <input type="email" placeholder="username" name="username" value="{{formBody.username}}" required>
              <br><br>
              <label>Password:</label>
                <input type="password" placeholder="password" name="passcode" value="{{formBody.passcode}}" required>
                <br><br>
                <button class="Login" type="submit" name="LOGIN">login</button>
            </form>

        </div>
        <p>DONT HAVE AN ACCOUNT? SIGN UP <button class="here" name="HERE">HERE</button></p>
        <div>
            <form action="/doctor" method="POST">
            <label for="employeename">EmployeeName:</label>
                <input type="text" placeholder="EmployeeName" name="employeeName" required>
                <br><br>
                <label for="password">Password:</label>
                <input type="password" placeholder="Password">
                <br><br>
                <button class="login" type="submit" name="login">Login</button>
            </form>

        </div>
        <div>
        </div>
    </div>
    <footer>www.gipt-health.co.za</footer>