<div class="container">
    <div class="row">

    <div>
        <form class="needs-validation" action="/patient" method="POST">
            <section class="vh-100">
                <div class="container-fluid h-custom">
                    <div class=" d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="https://www.ti.com/content/dam/ticom/images/themes/medical/healthcare-on-smartphone-dm5780.jpg"
                                class="img-fluid" alt="Sample image">
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 d-inline">
                            <form>
                                
                        
                                <!-- Email input -->
                                <div class="form-outline mb-2 ">
                                    <input type="email" id="" class="form-control form-control-lg"
                                        placeholder="Enter a valid email address" name="username"
                                        value="{{login.username}}" required>
                                    <label class="form-label" for="">Email address</label>
                                </div>
                               

                                <!-- Password input -->
                                <div class="form-outline mb-2 ">
                                    <input type="password" class="form-control form-control-lg " name="passcode"
                                        placeholder="Enter password" required>
                                    <label class="form-label" for="">Password</label>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Checkbox -->
                                    <div class="form-check mb-0">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                            id="form2Example3" />
                                        <label class="form-check-label" for="form2Example3">
                                            Remember me
                                        </label>
                                    </div>
                                    <a href="#!" class="text-body">Forgot password?</a>
                                </div>

                                <div class="text-center text-lg-start mt-4 pt-2">
                                    <button type="submit" class="btn btn-danger btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                            class="link-danger">Signup!</a></p>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                

                    <!-- Right -->
                    {{!-- <div>
                        <a href="#!" class="text-white me-4">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#!" class="text-white me-4">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#!" class="text-white me-4">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#!" class="text-white">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                    <!-- Right --> --}}
                </div>
            </section>
            
        </form>

    </div>
<form action="/doctor">
     <label for="employeename">EmployeeName:</label>
                        
    <a href="/doctor"><button class="login" type="submit" name="login">Login</button> --></a>
</form>
</div>
</div>
{{!-- <form action="/logout" method="POST">
    <div>
        thank you!
    </div>
</form> --}}

{{!--
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script> --}}