<div class="container">
    <div class="row">
        
        <p><h4>BOOK MEDICATION DELIVERY</h4> </p>
        <div "col-xs-12 col-sm-6 col-md-4 col-lg-2">
            EMAIL ADDRESS:<input class="form-control " type="text" placeholder="">
        </div>
        <br>
        <div >
            <button  class=" rep-order btn btn-danger" name="REPEAT PRESCRIPTION ORDER" type="reset">REPEAT PRESCRIPTION ORDER</button>
        </div>
        <form class="form-inline" action="/medication1" method="POST">
            <label for="ORDER MEDICATION">ORDER MEDICATION</label>
            <select class="form-control" name="selectMedication" id="MEDICATION" onchange="getSelectValue()";>
                <option value="ACARBOSE"  selected="selected">ACARBOSE</option>
                <option value="ACCOLATE">ACCOLATE</option>
                <option value="AMLODIPINE">AMLODIPINE</option>
                <option value="AMOXICILLIN">AMOXICILLIN</option>
                <option value="FLEXERIL">FLEXERIL</option>
                <option value="PRALUENT">PRALUENT</option>
                <option value="PIOGLITAZONE">PIOGLITAZONE</option>
                <option value="PLAQUENIL">PLAQUENIL</option>
            </select>
            
            <div>

                <div > 
                    
                    <label  class="form-check-label">Collect</label>
                    <input  class="form-check-input" type="radio" name="order">
                    <label  class="form-check-label">Delivery</label>
                    <input  class="form-check-input" type="radio" name="order">
                
                </div>
                <div>

                    <div >
                        <label>Select Date </label>

                        <input class="form-control" type="datetime-local">
                    </div>
                </div>
            </div>
            <button class="ORDER MEDICATION btn btn-danger" name="MEDICATION" type="submit">ORDER MEDICATION</button>
        </form>
        <div>
            *free delivery for purchases above R300
        </div>
        <div>
            Should we require more information, one of our friendly call centre agents will contact you.

        </div>

    </div>

</div>