
<table class="table">
    {{#each idNums }}
<tr>
     <td>{{id}}</td>
     <td>{{reason}}</td>
     <td>{{allergy}}</td>
        
</tr>
{{/each}}
</table>
    Did you know: COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or
    exhales.
</div>
</div>
{{!-- <!-- Appy Chatbot widget, Paste the code in the <body> section -->
<script id="appyWidgetInit"
    src="https://chatbot.appypie.com/widget/loadbuild.js?cid=60fd23e61e60e03263dcf59b-60fd23e61e60e03263dcf59b-BOTID1627202574310&name=mixBuild"></script>
<!-- /. End Appy chatbot widget code --> --}}
</div>