<div class="row">
    <p class="nancy">NANCY SMITH <img src="pictures/icon.jpeg" width="25"></p>
<form>
    <p class="logout"><a href="/logout"><button>LOGOUT</button></p></a>
</form>
<!--<h1>GIPT-HEALTH* </h1>
<img src="pictures/logo.jpeg" width="100px">-->
<div>
    WHEN IT COMES TO MEDICAL HEALTH SOLUTION WE PROVIDE THE BEST TO OUR CUSTOMERS
</div>
<br><br>
<div class="land">
    <div >
    <a href="/appointment">
        <button class="book-appointment form-control form-control-lg" name="BOOK-APPOINMENT"> BOOK APPOINTMENT </button></a>
</div>
<br>
<div class="app">
    <a href="/medication1">
        <button class="Medication form-control form-control-lg" name="Book-medication/medication refill">BOOK MEDICATION/REQUEST REFILL
        </button>
    </a>
</div>
<br>
<div> 
    <a href="pay" >
        <button class="make-payments form-control form-control-lg" name="MAKE-PAYMENTS">MAKE PAYMENTS</button>
    </a>
</div>

</div>

</div>