<div class="form-group">

    <div>
        WHEN IT COMES TO MEDICAL HEALTH SOLUTION WE PROVIDE THE BEST TO OUR CUSTOMERS
    </div>
    <br><br>
    <div class="land btn-group btn-group-lg">
        <div>
            <a href="/appointment">
                <button class="book-appointment form-control form-control-lg btn btn-warning active" name="BOOK-APPOINMENT">
                    BOOK APPOINTMENT </button></a>
        </div>
        <br>
        <div class="app">
            <a href="/medication1">
                <button class="Medication active form-control form-control-lg btn btn-secondary"
                    name="Book-medication/medication refill">BOOK MEDICATION/REQUEST REFILL
                </button>
            </a>
        </div>
        <br>
        <div>
            <a href="pay">
                <button class="make-payments form-control form-control-lg btn btn-danger" name="MAKE-PAYMENTS">MAKE
                    PAYMENTS</button>
            </a>
        </div>

    </div>

</div>