<div>
    <h2>MAKE PAYMENTS</h2>

    <h3>Choose payment method</h3>
    <form action="/pay" method="post">
        <div>
        <label for="EFT"> EFT</label>
        <input type="radio" name="money">
        <label for="card">CARD</label>
        <input type="radio" name="money"> 
        <label for="insurance">INSURANCE</label>
        <input type="radio" name="money">
        <br>
        <div class="" id="" name="" value="">Total: <span>R0.00</span></div>
        <br>
        <button type="reset">reset</button>
        <button type="submit">Pay</button>
    </div>
    
    </form>

</div>