body{
    background-color: #c4c4c4 !important;
    /*align-content: center;*/
}
footer{
    text-align: center;
}

.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }
  .land{
      align-content: center !important;
  }
  /* Right-aligned section inside the top navigation */
.topnav-right {
    float: right !important;
  }
  .bg-img {
    /* The image used */
   
    background-image: url("  https://www.ti.com/content/dam/ticom/images/themes/medical/healthcare-on-smartphone-dm5780.jpg") !important;
  
    /* Control the height of the image */
    min-height: 380px !important;
  
    /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
  }
  .bg-image {
    /* The image used */
   
    background-image: url("  https://www.ti.com/content/dam/ticom/images/themes/medical/healthcare-on-smartphone-dm5780.jpg") !important;
  
    /* Control the height of the image */
    min-height:700px !important;
  
    /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
  }
  
  /* .input-group{
    display: inline;
    
  } */
  .home-1{
    padding: 1em !important;
    color: rgb(80, 80, 145) !important;
  }
  .home-2 {
      display:flex !important;
  }
 .mission {
     padding: 1em !important;
     color: rgb(80, 80, 145) !important;
     width: 50% !important;


 } 
 .side-bar {
    padding: 1em !important ;
     color: rgb(80, 80, 145) !important;
     width: 50% !important;
 } 
 .office{
    padding: 1em !important ;
    color: honeydew !important;
}  
.giphy{
  float: right !important;
  width: 50% !important;
}
.main-12 {
  float: left;
}
.table, td, th{
  margin:2px !important;



}